@font-face{font-family:'Chunk';src:url('../fonts/Chunk.otf');}@font-face{font-family:'League Gothic';src:url('../fonts/LeagueGothic.otf');}html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
body{line-height:1;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
body{margin:0;padding:0;font-size:100%;background-color:#e8e8e8;}
#skip-to-nav,#page{font-size:0.875em;line-height:1.333em;}
body,caption,th,td,input,textarea,select,option,legend,fieldset{font-family:'Helvetica Neue Condensed',sans-serif;color:rgba(255, 255, 255, 0.9);font-weight:normal;letter-spacing:1px;line-height:1.3em;text-rendering:optimizeLegibility;}
pre,code{font-size:0.875em;font-family:Anonymous,'Andele Mono',"DejaVu Sans Mono",monospace;}
h1,h2{font-family:'League Gothic','Helvetica Neue Condensed','Oswald',sans-serif;font-size:4em;line-height:1.3em;margin-top:0.5em;margin-bottom:0.25em;}
h3,h4,h5{font-family:'League Gothic','Helvetica Neue Condensed','Oswald',sans-serif;letter-spacing:2px;}
strong{font-weight:bold;}
blockquote{margin:1em 2em;}
ul,ol{margin-left:0;padding-left:0em;}
li{margin:0;padding:0;}
a{-webkit-transition:text-shadow 0.3s linear;-moz-transition:text-shadow 0.3s linear;transition:text-shadow 0.3s linear;}
a:link{text-decoration:none;}
img{border:0;}
hr{height:1px;border:none;background-color:#42828c;border-bottom:1px #fff solid;margin:20px 0;}
form{margin:0;padding:0;}
fieldset{margin:1em 0;padding:0.5em;}
textarea{background-color:rgba(0, 0, 0, 0.2);border:none;}
.clearfix:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
html[xmlns] .clearfix{display:block;}
* html .clearfix{height:1%;}
body{background-color:#555555;}
#pagewrapper{padding:0 5em;text-align:center;}
#trackinfo{margin-top:5em;}
#image-wrapper{display:block;float:left;margin-right:30px;margin-bottom:5px;z-index:1;}#image-wrapper .front{border-radius:8px;position:absolute;}
#image-wrapper .back{background-color:rgba(0, 0, 0, 0.5);border-radius:8px;position:absolute;opacity:0;-webkit-transition:opacity 0.5s linear;-moz-transition:all 0.5s linear;z-index:5;width:inherit;height:inherit;}#image-wrapper .back .text{margin:0;padding:20px;}
#image-wrapper img{width:300px;height:300px;border-radius:8px;margin:0;}
#image-content{width:300px;height:300px;}
#image-content:hover .back{opacity:1;}
#content{display:inline-block;margin:0 auto;text-align:left;}
#info{display:block;float:left;}#info h1,#info h2{display:block;float:none;margin:0em;padding:0em;margin-top:0.05em;text-shadow:none;text-transform:uppercase;}
#info h1{font-family:Chunk, Arvo, Rockwell, serif;font-size:2em;color:rgba(255, 120, 0, 0.7);margin-bottom:0;margin-top:0;line-height:1em;}#info h1 a:hover{text-shadow:-4px 0 0 rgba(158, 255, 254, 0.7);}
#info h2{font-size:6em;line-height:0.7em;letter-spacing:4px;margin-top:-10px;margin-bottom:-5px;color:rgba(158, 255, 254, 0.7);}#info h2 a:hover{text-shadow:-4px 0 0 rgba(255, 120, 0, 0.7);}
#info h3{font-size:3em;letter-spacing:1px;line-height:1.2em;margin-bottom:0em;text-transform:uppercase;color:rgba(158, 255, 254, 0.3);}
#info .extratext{font-family:Chunk, Arvo, Rockwell, serif;text-transform:uppercase;color:rgba(255, 120, 0, 0.3);font-size:1.5em;margin:0;margin-bottom:-3px;}
#info .subtitle{font-family:'League Gothic','Helvetica Neue Condensed','Oswald',sans-serif;text-transform:uppercase;color:rgba(255, 120, 0, 0.7);font-size:3em;margin-top:-2px;}
#info .links{padding-top:0em;margin-top:1em;}
#info .section{float:left;padding:10px 25px 10px 0px;max-width:130px;}
#info ul{margin-top:-10px;color:rgba(255, 120, 0, 0.7);}
h1 a,h2 a,h3 a{color:inherit;display:block;line-height:1em;-webkit-transition:text-shadow 0.3s linear;-moz-transition:text-shadow 0.2s linear;}
h1 a:hover,h2 a:hover{color:inherit;}
.subtitle:hover a{text-shadow:-3px 0 0 rgba(158, 255, 254, 0.7);}
#bottombar{margin-top:0.5em;clear:both;font-size:1em;line-height:1.2em;font-family:Didot, Baskerville, serif;}#bottombar .title a{font-size:1em;color:rgba(0, 94, 95, 0.8);}
#bottombar h3{font-size:1.2em;line-height:1.5em;}
#bottombar .section{width:130px;float:left;padding:10px 15px 10px 10px;}
.tags{text-transform:capitalize;}
ul{margin:0;padding:0;list-style:none;margin-left:0;padding-left:0em;text-indent:0em;}
li{margin:0;padding:0;}
a{color:rgba(158, 255, 254, 0.7);}
a:hover,a:focus{text-shadow:-2px 0 0 rgba(255, 120, 0, 0.7);}
